<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="author" content="Alexey Botkov">
  <meta name="description" content="Legacy"/>
  <meta name="keywords" content="portfolio, homepage" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="og:site_name" content="Legacy"/>
  <meta name="og:title" content="Legacy"/>
  <meta name="og:description" content="Creations by Alexey Botkov."/>
  <meta name="og:image" content="" />

  <link rel="stylesheet" type="text/css" href="../src/css/main.css"/>
  <link rel='shortcut icon' type='image/x-icon' href='../src/templates/favicon.ico' />
  
  <title>Legacy: {{title}}</title>
</head>
<body>
  <div id="wrap">
    {{header}}
    {{body}}
    {{footer}}
  </div>
</body>
</html>