body { font-family: 'SourceSansPro_Regular'; background:#ccc; margin: 0px; padding: 0px; overflow-x: hidden; transition: opacity 150ms; opacity: 1 !important; color: #fff;  }
a { cursor: pointer; }

.fullscreen
{
  position: absolute;
  width: 100%;
  min-height: 100%;
  
  -webkit-background-size: 100px 100px, cover, cover;
  -moz-background-size: 100px 100px, cover, cover;
  background-size: 100px 100px, cover, cover;
  -o-background-size: 100px 100px, cover, cover;
  background-position: top left, center center, bottom center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-image: url("../img/noise.png"), url('../img/QVB.jpg');
  color: white;
}

.header
{
    display: block;
    position: relative;
    width:100%;
    min-height:100px;
    max-height: calc(100vh - 100px);
    background-color: #000;
}
.content
{
    display: block;
    position: relative;
    min-height: calc(100vh - 200px);
    padding: 100px 0px 100px 0px;
}
.footer
{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0; left: 0; right: 0;
    background-color: #fff;
}

.entry
{
    display: block;
    margin: 2px auto;
    padding: 20px;
    width: 600px;
    background: #000;
    text-align: left;
    color: #fff;
}
.date
{
    display: block;
    color: #999999;
}
.project
{
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}
.note
{
    display: block;
    text-align: left;
    margin-top: 6px;
}
.pict
{   
    background-position: center;
    background-size:cover;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
    min-height: calc(100vh * 0.3);
}



/* Theme */
.round
{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }