body { font-family: 'SourceSansPro_Regular'; background:#000; margin: 0px; padding: 0px; transition: opacity 150ms; opacity: 1 !important; color: #fff; }
a { cursor: pointer; }

#header { -webkit-background-size: 100px 100px, cover, cover; -moz-background-size: 100px 100px, cover, cover; background-size: 100px 100px, cover, cover; -o-background-size: 100px 100px, cover, cover; background-position: top left, center center, bottom center; background-repeat: repeat, no-repeat, no-repeat; }
#header { display: block; position: relative; width:100%; height:100%; min-height: 50vh; max-height: calc(100vh - 100px); background-color: #000;}
#header .logo { position: fixed; width: 80px; height: 80px; top: 20px; left: 20px; }
#content { display: block; position: relative; min-height: calc(100vh - 200px); padding: 100px 10px 100px 10px; }
#footer { display: block; background-color: #fff; padding: 0px 40px; }
#footerwrap { display: block; padding: 50px 0px; margin: 0px; max-width: 100%; font-size: 20px; color: #000; }
#footerwrap:after { clear: both; }
#footerwrap .logo { display: block; width: 30px; height: 30px; background-color: #000; margin: none; }
#footerwrap a.icon
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    display: block;
    width: 20px; height: 20px;
    float: right;
    margin: 10px 0px 0px 20px;
}

#footer a.icon.github { background-image: url("../svg/github.svg"); }
#footer a.icon.twitter { background-image: url("../svg/twitter.svg"); }

#stats { display: block; margin: 0px auto 20px auto; padding: 0px 60px; max-width: 700px; text-align: left; color: #fff; font-family: 'SourceSansPro_Bold' }
#stats #stat { display: inline-block; margin: 0px 10px 10px 0px; background-color: #fff; color: #000; padding: 4px 8px; max-width: 100px}

#entry { border-top: 1px solid #444 ; display: block; margin: 0px auto 2px auto; padding: 20px 60px; max-width: 700px; background: #000; text-align: left; color: #fff; }
#entry #date { display: inline-block; color: #999999; }
#entry #project { display: inline-block; font-family: 'SourceSansPro_Bold'; font-size: 1.2em; font-weight: bold; margin-right: 10px; }
#entry #note { display: block; text-align: left; margin-top: 6px; }

#pict
{
    background-position: center;
    background-size:cover;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
    min-height: calc(100vh * 0.3);
    -webkit-transition: min-height 0.2s; /* For Safari 3.1 to 6.0 */
    transition: min-height 0.2s;
}

#pict:hover { min-height: calc(100vh * 0.5); cursor: pointer; }

#lightbox
{
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}
#showcase
{
    position: relative;
    display: block;
    width: 80vw;
    height: 80vh;
    margin: auto auto;
    border-bottom: 1px solid #444;
    background-color: rgba(0, 0, 0, 1);
}

.logo { background-image: url("../svg/nm.svg"); background-size: contain; background-repeat: no-repeat; background-position-y: center; }
#logo.sticky { position: absolute; bottom: 20px; top: initial; }

/* Theme */
.round
{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
