body { font-family: 'SourceSansPro_Regular'; background:#000; margin: 0px; padding: 0px; transition: opacity 150ms; opacity: 1 !important; color: #fff; }
a { cursor: pointer; }

#header
{
  -webkit-background-size: 100px 100px, cover, cover;
  -moz-background-size: 100px 100px, cover, cover;
  background-size: 100px 100px, cover, cover;
  -o-background-size: 100px 100px, cover, cover;
  background-position: top left, center center, bottom center;
  background-repeat: repeat, no-repeat, no-repeat;
}

#header
{
    display: block;
    position: relative;
    width:100%;
    height:100%;
    min-height: 50vh;
    max-height: calc(100vh - 100px);
    background-color: #000;
}
#header .logo
{
    position: fixed;
    width: 100px;
    top: 10px;
    left: 10px;
    height: 100px;
}
#content
{
    display: block;
    position: relative;
    min-height: calc(100vh - 200px);
    padding: 100px 10px 100px 10px;
}

#footer
{
    display: block;
    background-color: #fff;
    padding: 0px 40px;
    clear: both;
}
#fwrap { display: block; padding: 30px 0px; margin: 0px; max-width: 100%; }

#footer .logo
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
}

#footer a.icon
{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    display: inline-block;
    width: 30px; height: 30px;
    float: right;
    margin-left: 20px;
}
#footer a.icon.github { background-image: url("../svg/github.svg"); }
#footer a.icon.twitter { background-image: url("../svg/twitter.svg"); }

.entry
{
    border-top: 1px solid #444 ;
    display: block;
    margin: 0px auto 2px auto;
    padding: 20px 60px;
    max-width: 700px;
    background: #000;
    text-align: left;
    color: #fff;
}

.date
{
    display: inline-block;
    color: #999999;
}

.project
{
    font-family: 'SourceSansPro_Bold';
    font-size: 1.2em;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}

.note
{
    display: block;
    text-align: left;
    margin-top: 6px;
}

.pict
{   
    background-position: center;
    background-size:cover;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    width: 100%;
    min-height: calc(100vh * 0.3);
    -webkit-transition: min-height 0.2s; /* For Safari 3.1 to 6.0 */
    transition: min-height 0.2s;
}

.pict:hover
{
    min-height: calc(100vh * 0.5);
    cursor: pointer;
}

.lightbox
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: #000;
    opacity: 0.5;
}

.logo
{
    background-image: url("../svg/nm.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

#logo.sticky
{
    position: absolute;
    bottom: 20px;
    top: initial;
}

/* Theme */
.round
{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
